{% extends "blog/base.html" %}
{% block content %}
    <div class="article-metadata">
        <h1>About Page</h1>
    </div>
    <article class="media content-section">
        <h3>Webpage made by Daniel H. Natarelli with Python 3.7.3 and Django 2.2.6</h3>
    </article>
    <article class="media content-section">
        <h4>Used Django templates, Crispy Fonts and Pillow.</h4>
    </article>
    <article class="media content-section">
        <a href="https://github.com/stranker/BlogApp">See the code!</a>
    </article>
    <article class="media content-section">
        <a href="https://stranker.itch.io/">See other projects!</a>
    </article>
{% endblock content %}